.parent{
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    text-align: center;
}
.text{
    background-color: aliceblue;
    margin: 20px;
    
  }
.heading{
    font-size:x-large;
    font-weight:bolder;
    padding:20px;
}
.para{
   padding: 20px;
}

.Go_Anywhere{
     padding: 10px;
     border: 1px solid green;
     /* width: 120px;  */
     margin-bottom: 30px;
 }
